/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .d-flex {
    display: flex;
  }
  
  .btn {
    /* Button styles */
    outline: none;
    border: none;
    background-color:  rgb(11, 68, 85);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
  }
  
  select {
    /* Select input styles */
    appearance: none;
    outline: rgb(0, 0, 0);
    background-color: rgb(11, 68, 85);
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    margin-right: 0.3rem;
    cursor: pointer;
    color: rgb(180, 176, 176);
    border-color: rgb(106, 109, 111);
    border:solid color-mix(in srgb, color percentage, color percentage)
  }
  
  .mb {
    margin-bottom: 1rem;
  }
  
  /* End Global Styles */
  
  .main-container {
    /* Container for main content */
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(128, 122, 122);
    border: solid whitesmoke;
    
  }
  
  .clock-container {
    /* Container for clock */
    padding: 2rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #042b22;
  }
  
  .current-time {
    /* Styles for current time */
    font-size: 2rem;
    color: rgb(180, 172, 172);
  }
  
  .alarm-form {
    /* Styles for alarm form */
    justify-content: space-between;
    width: 100%;
  }
  
  .submit-button {
    /* Styles for submit button */
    border-color: black;
    border: 10px;
    border-radius: 2rem;
    font-weight: bold;
  }
  
  .set-alarm-container {
    /* Container for set alarm section */
    width: 100%;
  }
  
  .set-alarm-container .set-alarm-container-title {
    /* Styles for set alarm title */
    color: rgb(209, 203, 209);
    font-weight: bold;
    font-size: 1rem;
  }
  
  .alarm {
    /* Styles for alarm container */
    justify-content: space-between;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    align-items: center;
  }
  
  .alarm .delete-alarm {
    /* Styles for delete alarm button */
    border-radius: 2rem;
    background-color: #e23b08 (230, 13, 13, 0.918);
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: xx-medium;
    
  }
  .time {
    /* Styles for time */
    color: #d3d6da;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .btn:focus,
  .btn:hover {
    /* Styles for hover and focus state */
    box-shadow: #e23b08 2px 2px 2px 1px inset, #fff -2px -2px 10px 1px inset;
  }
  
  .page-title {
    /* Styles for page title */
    background-color: #0E141B;
    align-items: center;
    text-align: center;
    color: wheat;
  }
  
  /* Media queries for devices with screen size less than 768px */
    @media only screen and (min-width: 600px) {
      /* adding padding to container */
      .main-container {
        padding-block: 2rem;
      }
      .clock-container{
          justify-content: center;
          border-radius: 50px;
          width: 450px;
          min-height: auto;
      }
    }